:root {
    --cor-primaria: #28703C;
    --font-primaria: "Roboto", sans-serif;
    --cor-branca: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-primaria);
}

header {
    height: 100px;
    /* position: fixed;
    top: 0;
    width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-primaria);
}

img.logo {
    height: 70%;
}

div.header-links {
    flex-grow: 1;
}

ul {
    text-align: right;
}

li {
    display: inline;
}

ul > li > a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-branca);
}

.margin-right-10-px {
    margin-right: 10px;
} 
.margin-right-5-percent {
    margin-right: 5%;
}

.margin-left-5-percent {
    margin-left: 5%;
}

.inicio{
    width: 100%;
    
}

.inicio-letra {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 95%;
    gap: 20px;
}

.inicio-letra{
    width: 80%;

}

.inicio-letra-1 {
    width: 50%;
}

.inicio-imagem {
    width: 120%;

}

.inicio-letra_texto {
    font-size: 200%;
}

.inicio-letra_botao {
    background-color: var(--cor-primaria);
    color: white;
    padding-block: 1.5%;
    padding-inline: 6%;
    list-style: cross-fade();
}

.inicio-letra_descrição {
    font-size: 100%;
}


#curiosidades {
    margin-top: 60px;
    background-color: #E7E7E7;
}

.curiosidades-titulo-1 {
    text-align: center;
    margin-bottom: 5%;
}

.curiosidades-inf {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 186px);
    grid-template-rows: 1fr 1fr ;
}

.curiosidades-inf_texto {
    width: 90%;
}

.c{
    text-align: center;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 10%;
    padding: 10%;
    width: 100%;
    border: 1px solid black;
    box-shadow: 10px black;

}

.ftr-fim {
    display: flex;
    justify-content: space-between;
    width: 95%;
    text-align: left;
    margin: auto auto;
}

.ftr-fim_img {

    width: 80%;
}

.ftr-fim_dir {
    height: 100%;
    padding-top: 2%;
}

.ftr-fim_rua{
    font-size: 70%;
    color: white;
    margin-top: 3%;
}

.ftr-fim_fone  {
    font-size: 80%;

    color: white;
    padding-top: 20px;
    text-align: right;
}

.ftr-fim_icon {
    margin-top: 10%;
    align-items: center;
    padding-left: 90px;
    display: flex;
    gap: 10%;
    text-align: right;
}

#footer {
    width: 100%;
    margin-top: 200px;
    background-color: #28703C;
    height: 10%;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 2%;
    
}

